
*{
    margin: 0;
padding: 0;
outline: 0;
box-sizing: border-box;

}
    
body{
    font-family: 'Permanent Marker', cursive;
    font-family: 'Rubik', sans-serif;

}
.containar{
    padding: 0px 90px;
 }

 .navContainar{
    display: flex;
    justify-content:space-between;
    padding-top: 10px;
    padding-bottom: 6px; 
    background-color: #F8F9FA;
    
    font-size: 15px;
}
.navContainar{
    color: #19CE67;
}
.span{
    color: black;
}
.navArea ul{
    display: flex;
    align-items: center;
    gap: 28px;
    height: 100%;
    font-size: 12px;
    padding-right: 250px;
    
}
.navArea ul li {
    list-style: none;
    
    }
    .navArea ul li a{ 
        color: #19CE67;
        text-decoration: none;
       
    }
    .navContainar .fa-solid{

        display: none;
    }


/*BANNER AREA SECTION STYLE*/


    .bannerSection{
        height: 100%;
      
        background-size: cover;
        background-image: url("./photos/banner-bg.jpg");
        
    }
    .parentBanner{
        display: flex;
        gap: 100px;
    }

    .textArea{
        padding-top: 80px;
        padding-left: 28px;
    width: 50%;
    }
    .parentBanner  .textArea h3{
        color: #19CE67;
       margin-bottom: 10px;
       font-size: 28px;
    }
    .parentBanner  .textArea p{
        font-size: 18px;
        margin-bottom: 12px;
    }

    .imgArea img {
        width: 270px;
    }
    .imgArea{
        width: 50%;
    }

    .parentBanner .textArea .buttonone{
        color: white;
        background-color:  #19CE67;
       padding: 4px 37px;
       font-size: 15px;
       border-radius: 5px;
       border: none;
       margin-right: 10px;
       margin-top: 20px;
    
        
    }
    
    .parentBanner .textArea .buttonTwo{
        color: white;
        background-color:  black;
       padding: 4px 27px;
       font-size: 14px;
       border-radius: 3px;
       border: none;}

    /*RESPONSIVE AREA STYLE*/























    @media only screen and (max-width:600px)
    {

body{
    background-color: red;
}

.navArea{
    display: none;
}
.navContainar .fa-solid{
    display: flex;
    padding-top: 8px;

}
/*BANNER SECTION STYLE*/


.imgArea{
    display: none;
    
}

 .textArea{
        padding-top: 80px;
        padding-left: 10px;
    width: 100%;
    }
    
    .parentBanner .textArea .buttonone{
        color: white;
        background-color:  #19CE67;
       padding: 4px 17px;
       font-size: 10px;
       border-radius: 5px;
       border: none;
       margin-right: 10px;
       margin-top: 10px;
    
        
    }
    
    .parentBanner .textArea .buttonTwo{
        color: white;
        background-color:  black;
       padding: 4px 17px;
       font-size: 10px;
       border-radius: 3px;
       border: none;}





    }





    

